.slide-in{
    opacity: 0;
    animation: slideFromLeft 1s ease-out forwards;
}
.slide-up{
    opacity: 0;
    animation: slideFromBottom 1s ease forwards;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.slide-right{
    opacity: 0;
    animation: slideFromRight 1s ease forwards;
}
.slide-left{
    opacity: 0;
    animation: slideFromLeft 1s ease forwards;
}
@keyframes slideFromTop {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromBottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}